@use "Variables";
.main_profile
{
    width: 100%;
    img {
        width: 100%;
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
    }

    
    h3{
        font-size:  Variables.$font_size_User;
        color:  Variables.$white;
        font-weight: 900;
        span {
            color:  Variables.$emphasize_yellow;
        }
    }
    .right_head_profile{
        width: 100%;
        height: 100%;
        button {
            color: Variables.$white;
            width: 100%;
        }
    }
}
.tran_history
{
    h3 {
        text-align: center;
    }
}
.info{
   
    li {
        color:  Variables.$white;
        font-size: Variables.$font_size_par_LT;
        list-style: none;
        margin-top: 1%;
        button {
            color:  Variables.$white;
        }
    }
}

.pay_ser
{
    h3 {
        text-align: center;
        font-size: Variables.$font_size_heading_LT;
    }
    width: 40%;
    img {
        width: 100%;
        height: 100%;
        border-radius:20%;
        object-fit: contain;
        transition: all .7s;
        cursor: pointer;
        &:hover {
            scale: 1.3;
        }
    }
}
.note {
    text-align: center;
    h3 {
        color: Variables.$emphasize_yellow;
    }
    p{
        text-align: justify;
        color:  Variables.$whiteblur;
    }
}
.your_cart
{
    h3 {
        text-align:center;
        font-size: Variables.$font_size_heading_LT;
        margin-left: 5%;
    }
    .cart_it
    {
        padding: 1%;
        cursor: pointer;
        img {
            border-radius: 1rem;
        }
        h3 {
            text-align: center;
            font-size: Variables.$font_size_heading_phone;
        }
        &:hover
        {
            img 
            {  
                transform: scale(1.1);
                object-fit: cover;
            }
            h3
            {
                color: Variables.$white ;
            }
            span.price {
                color: Variables.$white ;
            }
            .type_os
            {
                color: Variables.$white ;
            }
        }
    }

}
// Moblie Responesive ( >= Iphone SE)
@media only screen and (min-width: 375px) and (max-width : 768px)  {
    .main_profile
    {
        img {
            width: 100%;
            border-radius: 50%;
        }
        h3{
            font-size:  30px;
        }
        .info{
            li {
                color:  Variables.$white;
                list-style: none;
                margin-top: 1%;
                .btn-group {
                   
                    margin-left: 0 !important;
                    button {
                        color:  Variables.$white;
                    }
                }
            }
        }
    }
    .pay_ser
    {
        h3 {
            text-align: center;
            font-size: Variables.$font_size_heading_phone;
        }
        width: 80%;
    }
    .note {
        text-align: center;
        p{
            margin-left: 10%;
            color:  Variables.$whiteblur;
            font-size: 10px;
        }
    } 
    .your_cart
    {
        h3 {
            text-align:center;
            font-size: Variables.$font_size_heading_phone;
        }
        .cart_it
        {
          
            h3 {
                font-size: 20px;
                margin-left: 10%;
            }
            &:hover
            {
                img 
                {  
                    transform: scale(1.1);
                    object-fit: cover;
                }
                h3
                {
                    color: Variables.$white ;
                }
                span.price {
                    color: Variables.$white ;
                }
                .type_os
                {
                    color: Variables.$white ;
                }
            }
        }
        .btns{
            button {
                font-size: 10px;
            }
        }

    }
}
