@use 'Variables';
// CSS For OutProduct
.out_productions
{
    .out_productions_head  
    {
        h3 {
            text-align:center;
            font-size: Variables.$font_size_heading_LT;
        }
        button
        {
            float: right;
            cursor: pointer;
            margin: 10px 0;
        }
        
    }
}



// Moblie Responesive 
@media only screen and (min-width: 375px) and (max-width : 768px)  {
    // Overide style for h3
    .out_productions
    {
        .out_productions_head  
        {
            h3 {
                font-size: Variables.$font_size_heading_phone;
            }
        }
    }
}
