$white : #FFFFF1;
$whiteblur: #ADB0BC;
$black : #0F161B;
$fb : #0866FF;
$git : #24292F;
$ytb : #D51414;
$font_size_icon : 30px;
$font_size_nav : 17px;
$bg_footer_details : #1F2935;
$emphasize_green : #45F882;
$emphasize_yellow : #FFBE18;
$font_size_heading_LT : 50px;
$font_size_par_LT : 25px;
$font_size_heading_phone: 25px;
$font_size_par_phone : 15px;
$font_size_canvas : 30px;
$font_size_User : 70px;
$size_msgLT : 80px;
$size_msgMB : 50px;
$size_msgChatBoxLT : 500px;
$size_msgChatBoxMB : 250px;